.menu {
    display: inline-block;
    width: 10px;
    border-bottom: 2px solid var(--color-fourth);
}

.menu::after {
    display: fixed;
    width: 10px;
    border-bottom: 2px solid var(--color-fourth);
    top: -5px;
}

.menu::before {
    display: fixed;
    width: 10px;
    border-bottom: 2px solid var(--color-fourth);
    top: 5px;
}